.home {}
.it-courses {}
.robots {}
.kids-club {}
.news {}
.contacts {}
.it-camp {}

 .page-template-page-menu-search #wpadminbar { width: calc(100% - 100px); left: 100px; }

// .content-area, #footer {padding-left: 100px;}

#smart-header {
	position: fixed;
	height: 100%;
	top: 0px;
	left: 0;
	width: 100px;
	box-shadow: 0px 0px 32px 0px rgba(26, 31, 31, 0.1);
	z-index: 99999;
	background: #fff;

	.menu-dropdown-icon {
		&:before {
			opacity: 0;
		}
	}

	.logo {
		text-align: center;
		padding-top: 18px;

		a {
			&.desktop {
				padding-bottom: 10px;
				display: inherit;
			}
		}

		img {
			width: 100%;
			max-width: 50px;
			margin: 0 auto;
			display: inherit;
		}

.phone {
	display: none;

	span {
		background: #f2f6f9;
		padding: 8px 15px;
		border-radius: 30px;

		i {
			color: #83b601;
		}
	}
}

#nav-icon {
	display: none;
	width: 24px;
	height: 20px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
  	  display: block;
	  position: absolute;
	  height: 3px;
	  width: 100%;
	  background: #15acf2;
	  border-radius: 9px;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
  }
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 8px;
}

#nav-icon span:nth-child(4) {
  top: 16px;
}

#nav-icon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}
	}

	& > ul {
		display: block;

		&.menu {
			& > li {
				&:first-child {
					border-top: 1px solid #f4f4f4;
				}
			}
		}

		& > li {
			font-size: 12px;
			text-align: center;
			border-bottom: 1px solid #f4f4f4;
			position: relative;

			a {
				color: #4c4c4c;
				display: block;
				/*padding: 0 5px;*/
				padding: 17px 5px;
				line-height: normal;

				&:hover {
					color: #15acf2;

					svg {
						fill: #15acf2;
					}
				}
			}

			&.home {

			}

			&.it-courses {}
			&.robots {

				& > ul {
					/*position: relative;*/

					li {
						&.ul-description {
							&:before {
								position: absolute;
								left: 0;
								top: 0;
								content: '';
								width: 100%;
								height: 100%;
								background: url(/wp-content/uploads/2019/04/bg_robots.png) no-repeat;
								background-position: right;
								background-size: contain;
							}
						}
					}
				}
			}
			&.kids-club {
				& > ul {
					/*position: relative;*/

					li {
						&.ul-description {
							span {
								max-width: 65%;
							}
						}
					}
				}
			}
			&.news {}
			&.contacts {}

				svg {
					fill: #15acf2;
					max-width: 28px;
					display: block;
					margin: 0 auto;
				}

				// &:hover {
				// 	background: #f1f5f8;

				// 	a {
				// 		color: #15acf2;
				// 	}
				// }

				&:hover {
					background: #09a1ff;

					& > a {
						color: #fff;

						svg {
							fill: #fff;
						}
					}
				}


		}

			ul {
						display: none;
						position: absolute;
						left: 100%;
						top: 0;
						background: #fff;
						width: 320px;
						box-shadow: 0px 0px 32px 0px rgba(26, 26, 31, 0.1);
						/*padding: 14px 24px;*/

						li {
							border-bottom: 1px solid #f1f5f8;
							position: relative;

							&.ul-description {
								background: linear-gradient(to right, #09a1ff , #00ccff);
								color: #fff;
								text-shadow: 0px 0px 7px rgba(26, 31, 31, 0.43);
								padding: 18px 24px 18px 24px;
								font-size: 14px;
								text-align: left;

								position: relative;

								span {
									max-width: 50%;
									display: block;
									position: relative;
									z-index: 1;
								}

								a {
									padding: 0;
									color: #fff;
									&:before {
										display: none;
									}
								}

								&:hover {
									background: linear-gradient(to right, #09a1ff , #00ccff);
								}
							}

							a {
								font-size: 14px;
								color: #4c4c4c;
								padding: 14px 24px 12px 36px;
								transition: 0.1s all;
								text-align: left;
								position: relative;

								&:before {
									content: "\f105";
									font-family: FontAwesome;
									color: #15acf2;
									position: absolute;
/*									top: 50%;
									transform: translateY(-50%);*/
									left: 24px;
									/*font-size: 7px;*/
								}

								&:hover {
									color: #15acf2;
									font-weight: 600;
									transform: scale(1.03);
									background: #fff;
									box-shadow: 0px 0px 32px 0px rgba(26, 31, 31, 0.1);
								}
							}

							&:last-child {
								border: 0;
							}

							&:hover {
								background: none;
							}

							&.menu-item-has-children {
								& > a {
									position: relative;
									&:after {
										content: "\f061";
										font-family: FontAwesome;
										color: #d3d3d3;
										position: absolute;
										top: 50%;
										transform: translateY(-50%);
										left: auto;
										right: 24px;
										/*font-size: 7px;*/
									}

									&:hover {
										&:after {
											color: #15acf2;
										}
									}
								}
							}

						}
					}


		&.foot {
				position: absolute;
				bottom: 0;
				width: 100%;
		}
	}
}



@media (max-width: 1440px) {
	#smart-header ul li svg { max-width: 24px; }
	#smart-header ul li a {padding: 12px 5px;}
	#smart-header ul li:hover > ul li a {font-size: 14px;}
	#smart-header > ul ul li.ul-description {padding: 11px 24px 11px 24px;}
}

#smart-header.open ul.menu > li.active > a { background: #e9eef2; }

#menu-item-4358 > a, #menu-item-4390 > a {white-space: nowrap;}

@media (max-width: 768px) {
	.content-area, #footer {padding-left: 0px;}
	.page-template-page-menu-search #wpadminbar { display: none; }
	#smart-header ul.foot {display: none;}
	#smart-header { top: 0px; left: 0; width: 100%; height: auto; box-shadow: none; z-index: 99999; background: none; }
	#smart-header.open {height: 100%;background: #e9eef2; }
	#smart-header .logo {display: grid; grid-template-columns: auto 1fr auto;align-items: center;padding: 10px 15px; box-shadow: 0px 0px 32px 0px rgba(26, 31, 31, 0.1); background: #fff; z-index: 21;position: relative;}
	#smart-header .logo .phone {display: inline-block;}
	#smart-header .logo .d-none {display: inline-block !important;}
	#smart-header .logo #nav-icon { display: inline-block; }
	#smart-header .logo img {height: 57px;max-width: 42px;}
	#smart-header ul {width: 22%;height: 100%;background: #fff;display: none;}
	#smart-header.open ul.menu {display: block;}
	#smart-header.open ul.menu > li.active > a { background: #e9eef2; color: #15acf2; }
	#smart-header.open ul.menu > li.active > a svg { fill: #15acf2; }
	#smart-header.open ul.menu > li.active > ul { display: block !important; box-shadow: none; }
	#smart-header ul ul {left: 22%; top: 77px; background: none; width: calc(100% - 22%);}
	#smart-header > ul > li {position: inherit;}
	#smart-header > ul > li > ul > li > ul { position: relative;top: 0px;left: 0px; width: 100%;box-shadow: none; }
	#smart-header ul ul li.ul-description span {max-width: 100%;}
	#smart-header ul ul li {border-bottom: 1px solid #dce5ec;}

	li.years1 > a {font-weight: bold;padding-left: 42px !important;}
	#smart-header ul ul li.years1 > a::before {content: "\f111";font-size: 12px;top: 16px;color: #f59a18;}
	#smart-header ul ul li.years1 a::before { color: #f59a18; }

	li.years2 > a {font-weight: bold;padding-left: 42px !important;}
	#smart-header ul ul li.years2 > a::before {content: "\f111";font-size: 12px;top: 16px;color: #8fd900;}
	#smart-header ul ul li.years2 a::before { color: #8fd900; }

	li.years3 > a {font-weight: bold;padding-left: 42px !important;}
	#smart-header ul ul li.years3 > a::before {content: "\f111";font-size: 12px;top: 16px;}

								// padding: 11px 24px 11px 24px;


	/*#smart-header > ul > li > ul > li.active > a {color: #15acf2; }*/
	#smart-header > ul > li > ul > li.active > ul { display: block !important }
	#smart-header ul ul li.menu-item-has-children > a::after {content: "\f063";}
	#smart-header ul ul li.menu-item-has-children.active > a::after {content: "\f062";color: #15acf2;}
}




